NODE_ENV=production
PORT=3000
HTTP_HOST=0.0.0.0
TZONE_TCP_PORT=18801
TZONE_TCP_HOST=0.0.0.0
DATABASE_URL="mysql://user:password@127.0.0.1:3306/realtime_data_logger"
SHADOW_DATABASE_URL="mysql://user:password@127.0.0.1:3306/realtime_data_logger_shadow"
WEB_SOCKET_CORS_ORIGIN=*
